{"filter":false,"title":".gitignore","tooltip":"/aws-pro/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":17},"end":{"row":1,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1588622083036,"hash":"4c4acbd53e497c7fb0235d9bbfc29cf8c0b855b9"}